# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# System files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# PyTorch-related files
*.pt
*.pth
*.ckpt

# Hugging Face cache
~/.cache/huggingface/
cache/
